<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        colors="true"
        backupGlobals="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
>
  <testsuites>
    <testsuite name="PHPUnit VCR Listener Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <extensions>
    <bootstrap class="VCR\PHPUnit\TestListener\VCRTestListener" />
  </extensions>
</phpunit>
